<div class="container d-flex align-items-center" style="height: 90vh">

  <div class="text-center col-6 mx-auto mb-5">
    <h1>URL Shortener</h1>
    <div class="display-1 mt-3"><i class=" fas fa-link"></i></div>

    <form action="/" method="POST" class="mt-4">
      <div class="form-group">
        <input type="url" class="form-control" name="inputURL" aria-describedby="inputURL"
          placeholder="http://www.example.com">
      </div>
      {{#if errorMessage}}
      <div class="alert alert-warning" role="alert">
        {{errorMessage}}
      </div>
      {{/if}}
      <button type="submit" class="btn btn-outline-secondary mt-3">Shorten!</button>
    </form>

    {{#if url}}
    <div class="alert alert-secondary mt-5" role="alert">
      <h6>成功轉換！縮網址為：</h6>
      <div class="d-flex align-items-center justify-content-center">
        <a class="text-decoration-none" href="{{hostName}}/{{url.shortenUrl}}">{{hostName}}/{{url.shortenUrl}}</a>

        <button class="btn btn-outline-dark ml-2" id="copy" data-clipboard-text="{{hostName}}/{{url.shortenUrl}}"><i
            class="far fa-copy"></i></button>
        <script>
          new Clipboard("#copy");
        </script>
      </div>
    </div>
    {{/if}}
  </div>
</div>